@import './styles/media';
@import './styles/global';
@import './styles/rightContainer';
@import './styles/button';
@import './styles/colors';
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

 body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    background-color: $PaleBlue;
    font-family: "Hanken Grotesk", serif;
  }
  
  